.card{
  box-shadow: -10px 0px 12px -3px #000000aa;
  overflow: hidden;
  width: 60%;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  .lead{
    font-size: 1.5rem;
    background: transparent;
    color: aliceblue;
    overflow: hidden;
    padding: 5px;
  }
  .substract{
    padding: 10px;
    background: #0f0f0f;
    border: none;
    transition: 200ms ease-in-out;
  }
  .add{
    padding: 10px;
    background: #0f0f0f;
    border: none;
    transition: 200ms ease-in-out;
  }
  .substract:hover{
    background: crimson;
    border: none;
  }
  .add:hover{
    background: #ffc107;
    border: none;
  }
  .card-detail-button{
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    border-radius: 0;
    height: fit-content;
    padding: 5px;
    transition: 200ms ease-in-out;
  }
  .card-detail-button:hover{
    background: #333;
    color: #ffc107;;
  }
}

@media screen and (min-width: 758px)  {
  .card{
    max-width: 234px;
    h5{
      font-size: 4rem !important;
    }
    a{
      font-size: 3rem !important;
    }
    button{
      font-size: 4rem !important;
    }
    img{
      max-height: 310px;
    }
  }
}
