.Superhero-Home-Container{
    min-height: 100vh;
    height: 100%;
    background-color: #0f0f0f;
    color: aliceblue;
    .display-1{
        font-size: 8rem;
        font-weight: 500;
    }
    .lead{
        font-size: 2rem;
    }
    .mainHome-Selector {
        width: max-content;
        .dropdown-menu.show {
            width: max-content;
            padding-left: 1rem;
            padding-right: 1rem;
            a{
                text-decoration: none;
                font-size: 1.15rem;
                color: indianred;
            }
        }
        select {
            border: 4px solid purple;
        }
    }
    .home-powerstats{
        h5, p{
            font-size: 3rem;
        }
    }
    .Superhero-Home-Footer{
        position: fixed;
        bottom: 0;
        min-height: 5vh;
        width: 100vw;
        z-index: 9999;
        button{
            border: none;
            opacity: 0.7;
        }
        button:hover, button:active, button:focus{
            border: none;
            opacity: 1;
        }
    }
}

@media screen and (min-width: 758px)  {
    .display-2{
        font-size: 10rem !important;
    }
    .display-6{
        font-size: 8rem !important;
    }
    .Superhero-Home-Footer{
        justify-content: center !important;
        button{
            margin-right: 3rem;
            width: 15% !important;
            justify-content: space-between !important;
        }
    }
}
